.controllers {
  margin: 20px 0;
  display: flex;
  color: #124912;
  justify-content: center;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: #ebb811;
  font-size: 60px;
}

#defining-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #156620;
    font-size: 20px;
}
