.controllers {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #c63535;
    font-size: 60px;
}